{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<h2>Welcome to our exciting color matching game! </h2>

With vibrant graphics and a simple yet addictive gameplay, 
our game will challenge your puzzle-solving skills and delight your senses. 

The goal is simple: match the colors and fill the board with same color in minimum moves. 
So what are you waiting for? Let's dive in and explore the colorful world of our game!</p>

<h3> Redirect to Play!</h3>
{% endblock %}

